# IDE files
.idea
*.iml
.classpath
.project

*.log

/grails-quartz-*.zip
/grails-quartz-*.zip.sha1
/plugin.xml

#unused directories
/.settings
/target
/target-eclipse
/web-app

# Unused grails files
/grails-app/i18n
