# JetBrains IntelliJ IDEA files
.idea
*.iml

# Log files
*.log

# Libraries and others
*.zip

#unused directories
web-app
target
.classpath
.project
.settings
.target-eclipse/**
target-eclipse

# Unused grails files
grails-app/i18n/

plugin.xml