<plugin name='quartz' version='1.0-RC7' grailsVersion='2.2.1 &gt; *'>
  <author>Sergey Nebolsin, Graeme Rocher, Ryan Vanderwerf</author>
  <authorEmail>rvanderwerf@gmail.com</authorEmail>
  <title>Quartz plugin for Grails</title>
  <description>This plugin adds Quartz job scheduling features to Grails application.
</description>
  <documentation>http://grails.org/plugin/quartz</documentation>
  <type>QuartzGrailsPlugin</type>
  <resources>
    <resource>DefaultQuartzConfig</resource>
    <resource>QuartzBootStrap</resource>
    <resource>grails.plugins.quartz.JobManagerService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='org.quartz-scheduler' name='quartz' version='2.2.0' />
    </compile>
  </dependencies>
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='cache' version='1.0.1' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='jquery' version='1.8.3' />
      <plugin group='org.grails.plugins' name='hibernate' version='2.2.1' />
      <plugin group='org.grails.plugins' name='resources' version='1.1.6' />
    </runtime>
    <build>
      <plugin group='org.grails.plugins' name='tomcat' version='2.2.1' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>