<plugin name='quartz' version='1.0-SNAPSHOT' grailsVersion='2.0 &gt; *'>
  <author>Sergey Nebolsin, Graeme Rocher, Ryan Vanderwerf</author>
  <authorEmail>rvanderwerf@gmail.com</authorEmail>
  <title>Quartz plugin for Grails</title>
  <description>This plugin adds Quartz job scheduling features to Grails application.
</description>
  <documentation>http://grails.org/plugin/quartz</documentation>
  <type>QuartzGrailsPlugin</type>
  <resources>
    <resource>DefaultQuartzConfig</resource>
    <resource>QuartzBootStrap</resource>
    <resource>grails.plugins.quartz.JobManagerService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='org.quartz-scheduler' name='quartz' version='2.2.0' />
    </compile>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>